.one{
    background-color: cyan;
    height: 30vh;
}
.two{
    background-color: black;
    height: 30vh;
}
.three{
    background-color: gold;
    height: 30vh;
}

.four{
    background-color: #0f5132;
    height: 30vh;
}
.five{
    background-color: burlywood;
    height: 30vh;
}

















































